@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Quicksand:wght@300..700&display=swap');

:root {
  --bg-color: black;
  --primary-font-color: white;
  --primary-font-family: "Quicksand", sans-serif;
  --secondary-font-family: "Coming Soon", cursive;
  --font-size: 4rem;
}


body {
  background-color: var(--bg-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font-family);
  font-size: var(--font-size);
  text-align: center;
  display: block;
}

.initial_hide {
  display: none;
}

.content {
  /* https://stackoverflow.com/questions/31217268/center-div-on-the-middle-of-screen */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  transition: 1.5s ease-in-out;

  margin: 0px;
  padding: 0px;

  @starting-style {
    opacity: 0;
  }
  
/* Children animating in solution inspired by
https://stackoverflow.com/questions/28002684/is-there-a-way-to-use-the-n-value-in-nth-childn
 */
  *{
    /* transition-delay: 2s; */
      transition: 1.5s ease-in-out;
      @starting-style {
    opacity: 0;
  }
  }

}

p{
  padding: 0px;
  margin: 0px;
}

/* 

CITATION INDEX CARDS

*/

#card_wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/* Index card style adapted from
https://codepen.io/paulywill/pen/OJxXyjV */
.card {
  font-size: 1rem;
  color: black;
  text-align: left;

  cursor: grab;
  /* position: absolute; */
  width: 20rem;
  padding: 1rem;
  background-color: white;
  background-image:
    linear-gradient(180deg,
      white 2rem,
      #f0a4a4 calc(2rem),
      #f0a4a4 calc(2rem + 1px),
      transparent 1px),
    repeating-linear-gradient(transparent calc(0.15rem - 2px),
      transparent 1rem,
      #ddd 1px,
      #ddd calc(1rem + 1px));
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

  .card_heading {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .copy_icon {
    /* background-color:red; */
    color: grey;
    cursor: pointer;
    width: 16px;
    height: 16px;

    &:hover {
      color: black;
    }
  }

  .card_title {
    margin-top: calc(.5rem - 2px);
    line-height: 1rem;
    font-style: italic;
    max-width: 18rem;
    /* margin-top: 0px; */
  }

  .card_content {
    font-family: var(--secondary-font-family);
  }

  &:hover {
    /* box-shadow: 3px 3px 15px white; */
    /* margin-top: -10px; */
  }
}


#empty_state {
  display: none;
}


#reveal_all {
  background-color: red;
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 40px;
}
